html {
  width: 100%;
  min-height: 100%;
  background-color: #efe5ff;
  background: linear-gradient(135deg, #ebf3ff, #fef1ff);
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

main {
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
  max-width: 800px;
  color: #020014;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

a {
  color: #1d1dfd;
  text-decoration: none;
}

blockquote {
  font-family: serif;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  margin: 2em 1em;
  text-transform: uppercase;
  line-height: 1;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav {
  position: fixed;
  right: 0.5em;
  top: 0.5em;
  opacity: 0.8;
  z-index: 1;
}

input, textarea {
  font-family: system-ui, sans-serif;
  font-size: 1em;
  color: #020014;
  background-color: #fefff1;
  border: 1.5px solid #c6bfff;
  margin: 1em 0;
}

input {
  font-size: 1.25em;
}

input[type=submit], .button, nav>ul {
  margin: 0;
  width: max-content;
  white-space: normal;
  font-size: 1em;
  font-weight: bold;
  border: 3px solid #5602c1;
  color: #5602c1;
  background-color: #f9f5ff;
  padding: 0.5em;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}

.passphrase {
  font-family: Courier, monospace;
  font-size: 1.25em;
  color: #4800ce;
}

textarea#title {
  height: 3em;
}

textarea#description {
  height: 6em;
}

textarea#content {
  width: 100%;
  max-width: 800px;
  height: 300px;
  height: 80vh;
  padding: 0;
}

ul {
  list-style: none;
  padding-bottom: 0.5em;
}

ul > li {
  padding-left: 0.25em;
}

ul > li::before {
  content: "\2192\09";
  color: #105f8d;
  font-weight: bold;
}

.page-break {
  display: none;
}

@media print {
  body {
    color: black;
    max-width: 85%;
    font-size: 0.8em;
  }

  a {
    color: black;
  }

  .page-break {
    display: block;
    page-break-before: always;
  }

  nav {
    display: none;
  }
}

@media (min-width: 700px) {
  input[type=email], input[type=password] {
    width: 50%;
  }

  img {
    max-width: 50vw;
  }
}

