<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= @description %>">
<title><%= @title %></title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<%= if assigns[:nav] do %>
<nav>
  <ul>
    <%= for item <- assigns[:nav] do %>
    <li>
      <a href="<%= item[:href] %>"><%= item[:text] %></a>
    </li>
    <% end %>
  </ul>
</nav>
<% end %>
<main>
<%= @body %>
</main>
</body>
</html>
