<form id="edit" method="POST">
<label for="content">Editing page <strong><%= @name %></strong>:</label>
<textarea name="content" id="content"><%= @markdown %></textarea>
<input type="submit" value="Publish.">
</form>
