<h1>Formal Studio (Beta Preview)</h1>
<h2>Get Creative With A Free Website</h2>
<p><em>Already have an account? <a href="?login">Log in.</a></em></p>
<form method="POST">
<label for="email">The email address to use for your new account:</label>
<input type="email" name="email" id="email">
<input type="submit" value="Create my free website.">
<p><em>By signing up you agree to be notified when Formal Studio officially launches.</em></p>
