<h1>Login to Your Account</h1>
<form method="POST" action="/?login">
<label for="email">Your email address:</label>
<input name="email" id="email" type="email" autofocus>
<label for="passphrase">Your passphrase:</label>
<input name="passphrase" id="passphrase" type="password">
<input type="submit" value="Log me in.">
</form>
<p>Don't have an account? <a href="/">Sign up.</a></p>

