<h1>Create a new page.</h1>
<form method="POST">
<label for="name">Your page's name (for the URL):</label>
<input name="name" id="name" autofocus>
<label for="content">Enter the text for your new page:</label>
<textarea name="content" id="content"></textarea>
<input type="submit" value="Create new page.">
