<h1>Create a new website.</h1>
<form method="POST">
<label for="name">Your site's name (for the URL):</label>
<input name="name" id="name" autofocus>
<label for="content">Enter the text for your site's home page:</label>
<textarea name="content" id="content"></textarea>
<input type="submit" value="Create new site.">
