<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= @description %>">
<title><%= @title %></title>
<link rel="stylesheet" href="<%=
case assigns[:name] do
  nil -> "/style.css"
  name -> "/#{name}/style.css"
end %>">
</head>
<body>
<%= if assigns[:nav] do %>
<nav>
  <ul>
    <li>
      <a href="/">Take Me Home.</a>
    </li>
    <%= for item <- assigns[:nav] do %>
    <li>
      <a href="<%= item[:href] %>"><%= item[:text] %></a>
    </li>
    <% end %>
  </ul>
</nav>
<% end %>
<main>
<%= if assigns[:site_title] do %>
<a href="/<%= assigns[:name] %>"><%= assigns[:site_title] %></a>
<% end %>
<%= @body %>
</main>
</body>
</html>
