<h2>Write Down Your New Account's Passphrase</h2>
<p>Here's your secure passphrase (including spaces):</p>
<p class="passphrase"><%= @passphrase %></p>
<p>Write it down some place safe so you can log in later.
We'll only show you this passphrase once for security reasons.
Once you've written it down, continue on to create your first site.</p>
<a class="button" href="/?new-site">Create a new site.</a>
