<h1>Welcome Back to Your Site <%= @name %></h1>
<p>Please email <a href="mailto:support@formal.studio">support@formal.studio</a>
with any questions or issues you're having.</p>
<ul>
  <li><strong><a href="https://formal.studio/how-to">Learn How To Use Formal Studio</a></strong></li>
  <li><strong><a href="/<%= @name %>/style.css?edit">Edit Your Site's Style</a></strong></li>
</ul>
<hr>
<% home = Enum.find(@pages, fn p -> p[:name] == "" end) %>
<h3><a href="/<%= @name %>">Your Home Page</a></h3>
<%= if home[:title] != "false" do %>
<strong><p><%= home[:title] %></p></strong>
<% end %>
<%= if home[:description] != "false" do %>
<p><%= home[:description] %></p>
<% end %>
<hr>
<h3>Other Pages</h3>
<hr>
<%= for page <- @pages, page[:name] != "" do %>
<h3><a href="/<%= @name %>/<%= page[:name] %>"><%= page[:name] %></a></h3>
<%= if page[:title] != "false" do %>
<strong><p><%= page[:title] %></p></strong>
<% end %>
<%= if page[:description] != "false" do %>
<p><%= page[:description] %></p>
<% end %>
<hr>
<% end %>
<form method="POST" action="/?logout">
<input type="submit" value="Log me out.">
</form>
